@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background-color: #271622;
}

*::-webkit-scrollbar-thumb{
    background-color: #8D5380;
    border-radius : 10px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing:1px ;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #1E1E1E ;
    color: #FFFFFF;
    height: 100%;
    overflow-x: hidden;
}

h1{
    font-size:2.5vw;    
}

h2{
    font-size:2vw;
}

h3 {
    font-size:1.5vw;
}

h4 {
    font-size:1.25vw;
}

p{
    font-size:1vw;
}

a{
    font-size:1vw;
    position: relative;
    color: white;
    text-decoration: none;
}

a::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 0%;
    transition: 0.5s;
    background-color: #AC72A0;
}

a:hover::after{
    width: 100%;
}



li{
    display: block;
    font-size:1vw;
}

span{
    font-size:1vw;
}

input{
    font-size:1vw;
}

input[type=submit]{
    font-size:1vw;
}

label{
    font-size:1vw ;
}

input::placeholder{
    font-size:1vw;
}

button{
    font-size:1vw;
}

i{
    font-size:2vw;
}

u{
    font-size:1vw;
}
td{
    font-size:1vw;
}

th{
    font-size:1.25vw;
}
textarea::placeholder {
    font-size:1vw;
}
textarea{      
    font-size:1vw;
}
select{
    font-size:1vw;
}

small{
    font-size:0.75vw;
}

@media (max-width:1440px) {
    h1{
        font-size:2.75vw;    
    }
    h2{
        font-size:2.25vw;
    }
    
    h3 {
        font-size:1.75vw;
    
    }
    
    h4 {
        font-size:1.5vw;
    }
    
    p{
        font-size:1.25vw;
    }
    a{
        font-size:1.25vw;
    }
    li{
        display: block;
        font-size:1.25vw;
    }
    
    span{
        font-size:1.25vw;
    }
    
    input{
        font-size:1.25vw;
    }

    input[type=submit]{
        font-size:1.25vw;
    }

    label{
        font-size:1.25vw;
    }
    
    input::placeholder{
        font-size:1.25vw;
    }
    
    button{
        font-size:1.25vw;
    }

    i{
        font-size:2.75vw;
    }

    u{
        font-size:1.25vw;
    }
    
    td{
        font-size:1.25vw;
    }
    
    th{
        font-size:1.5vw;
    }
    
    textarea::placeholder {
        font-size:1.25vw;
    }
    
    textarea{
        font-size:1.25vw;
    }
    
    select{
        font-size:1.25vw;
    }
    
    small{
        font-size:1vw;
    }
      
}

@media (max-width:1024px) {
    h1{
        font-size:3vw;    
    }
    h2{
        font-size:2.5vw;
    }
    
    h3 {
        font-size:2vw;
    
    }
    
    h4 {
        font-size:1.75vw;
    }
    
    p{
        font-size:1.5vw;
    }
    a{
        font-size:1.5vw;
    }
    li{
        display: block;
        font-size:1.5vw;
    }
    
    span{
        font-size:1.5vw;
    }
    
    input{
        font-size:1.5vw;
    }

    input[type=submit]{
        font-size:1.5vw;
    }

    label{
        font-size:1.5vw;
    }
    
    input::placeholder{
        font-size:1.5vw;
    }
    
    button{
        font-size:1.5vw;
    }

    i{
        font-size:3vw;
    }

    u{
        font-size:1.5vw;
    }
    td{
        font-size:1.5vw;
    }

    th{
        font-size:1.75vw;
    }
    
    textarea::placeholder {
        font-size:1.5vw;
    }
    
    textarea{
        font-size:1.5vw;
    }
    
    select{
        font-size:1.5vw;
    }
    small{
        font-size:1.25vw;
    }  
}

@media (max-width:800px) {
    h1{
        font-size:3.25vw;    
    }
    h2{
        font-size:2.75vw;
    }
    
    h3 {
        font-size:2.25vw;
    
    }
    
    h4 {
        font-size:2vw;
    }
    
    p{
        font-size:1.75vw;
    }
    
    a{
        font-size:1.75vw;
    }
    
    li{
        display: block;
        font-size:1.75vw;
    }
    
    span{
        font-size:1.75vw;
    }
    
    input{
        font-size:1.75vw;
    }
    
    input[type=submit]{
        font-size:1.75vw;
    }
    
    label{
        font-size:1.75vw;
    }
    
    input::placeholder{
        font-size:1.75vw;
    }
    
    button{
        font-size:1.5vw;
    }

    i{
        font-size:3.25vw;
    }

    u{
        font-size:1.75vw;
    }
    
    td{
        font-size:1.75vw;
    }
    
    th{
        font-size:2vw;
    }
    
    textarea::placeholder {
              font-size:1.75vw;
    }
    
    textarea{
        font-size:1.75vw;
    }
    
    select{
        font-size:1.75vw;
    }

    small{
        font-size:1.5vw;
    }
}   



@media (max-width:600px) {
    h1{
        font-size:4.5vw;    
    }
    h2{
        font-size:4vw;
    }
    
    h3 {
        font-size:3.5vw;
    
    }
    
    h4 {
        font-size:3.25vw;
    }
    
    p{
        font-size:3vw;
    }
    
    a{
        font-size:3vw;
    }
    
    li{
        display: block;
        font-size:3vw;
    }
    
    span{
        font-size:3vw;
    }
    
    input{
        font-size:3vw;
    }

    input[type=submit]{
        font-size:3vw;
    }

    label{
        font-size:3vw;
    }
    
    input::placeholder{
        font-size:3vw;
    }
    
    button{
        font-size:3vw;
    }

    i{
        font-size:4.5vw;
    }

    u{
        font-size:3vw;
    }
    
    td{
        font-size:3vw;
    }
    
    th{
        font-size:3.25vw;
    }
    
    textarea::placeholder {
        font-size:3vw;
    }
    
    textarea{
        font-size:3vw;
    }
    
    select{
        font-size:3vw;
    }
    
    small{
        font-size:2.5vw;
    }
}

form .div_input {
    position: relative;
    border-bottom: 2px solid #AC72A0;
    margin: 15px 0;
}

.div_input input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    outline: none;
}

.div_input select {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    outline: none;
}

.div_input option {
    color: white;
    background-color: rgba(38, 38, 38);
}

.div_input label {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 5px;
    color: white;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

.div_input span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #8D5380;
    transition: .5s;
}

.div_input input:focus ~ label,
.div_input input:valid ~ label {
    top: -5px;
    color: #8D5380;
}

.div_input input:focus ~ span::before,
.div_input input:valid ~ span::before {
    width: 100%;
}

.div_input select:focus ~ label,
.div_input select:valid ~ label {
    top: -5px;
    color: #8D5380;
}

.div_input select:focus ~ span::before,
.div_input select:valid ~ span::before {
    width: 100%;
}

.div_input input[type=date] ~ label,
.div_input input[type=date] ~ label {
    top: -5px;
    color: #8D5380;
}

.div_input input[type=date] ~ span::before,
.div_input input[type=date] ~ span::before {
    width: 100%;
}


input::-webkit-datetime-edit {
     padding: 1em; 
}

input::-webkit-datetime-edit-text { 
    color: #AC72A0; 
    padding: 0 0.3em;
}

input::-webkit-calendar-picker-indicator { 
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=submit]{
    color: #FFFFFF;
    background-color: #AC72A0 ;
    border: none;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    padding: 10px 20px ;
    cursor: pointer;
}

.form{
    position: fixed;
    top: 5vw;
    left: 5vw;
    right: 5vw;
    bottom: 5vw;
    width: 90vw;
    Height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.5);
    backdrop-filter: blur(15px);
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px;
}

.form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form form div{
    width: 100%;
}