#allPlaning .card{
    background-color: rgba(38, 38, 38, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px;
}

.card .cardTitle{
    border-bottom: 1px solid #FFFFFF;
    padding: 5px;
    margin: 5px;
}

.card .cardTitle p{
    color: #333;
}

.card .cardContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.card .cardContent div:first-child{
    border-right: 1px solid #FFFFFF;
}

.card .cardContent div div{
    border-right:  none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.card .cardContent div,
.card .cardContent ul{
    width: 100%;
    height: 100%;
    padding: 5px;
}

.section{
    position: relative;
    height: 100%;
    margin: 5vw;
}

#createBtn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 55px;
    border-radius: 10px;
    background: rgba(38, 38, 38, 0.75);
    color: white;
    font-size: 40px;
    border: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBtn{
    position: fixed;
    bottom: -20px;
    right: -20px;
    /* padding: 5px 15px; */
    border: none;
    width: 50px;
    height: 55px;
    border-radius: 10px;
    background: rgba(38, 38, 38, 0.75);
    color: white;
    font-size: 40px;
    border: white 1px solid;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.sectionLink{
    display: none !important;
}

.vueLink{
    display: flex;
}

#allPlaning{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.idCard{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    right: 50%;
    z-index: 2;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.idCard .card{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px;
    background-color: rgba(38, 38, 38, 0.5);
    backdrop-filter: blur(15px);
    z-index: 3;
    transition: all 1s ease-in-out;
    padding: 20px;
    position: relative;
}

@media screen and (max-width: 1200px){
    #allPlaning{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px){
    #allPlaning{
        grid-template-columns: 1fr;
    }

    .form{
        top: 10vw;
        left: 10vw;
        right: 10vw;
        bottom: 10vw;
    }
}
